/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  background-color: #ffe4e1;
}

.mat-dialog-container {
  max-width: 600px;
  width: 100%;
}

.mat-dialog-content {
  padding: 24px;
}

.mat-dialog-actions {
  padding: 8px 24px;
}
